<div [@routerTransition]>
<app-page-header [heading]="'Gerar Nova Senha'" [icon]="'fa-edit'"></app-page-header>

    <app-messageBar [textMessage]='this.message.textMessage' 
        [show]='this.message.showMessage'
        [typeMessage]='this.message.typeMessage'></app-messageBar>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="panel panel-primary">
                    <!-- Seleção de Participantes -->
                    <div class="form-group row">
                        <label for="selecaoParticipante" class="col-sm-2 col-form-label">Participante Selecionado</label>
                        <div class="col-sm-4">
                            <select id="selecaoParticipante" (change)='this.onSelectedChangeParticipante($event)' class="form-control" required>
                           <option value="">(Escolha um Participante)</option>
                           <option *ngFor='let participante of this.lstSelecaoParticipantes' 
                           [value]='participante.id' [selected]='this.isParticipanteSelected(participante)' >
                              {{participante.descricao}}
                           </option>
                           </select>
                        </div>
                    </div>

                    <!-- Gerar Nova Senha -->
                    <div class="form-group row">
                        <label for="no" class="col-sm-2 col-form-label">Nova Senha</label>
                        <div class="col-sm-4">
                           <input type="text" for="no" name='novaSenha' [(value)]='this.novaSenha' class="form-control">
                        </div>
                    </div>

                    <!-- Botoes de Controle -->
                    <div class="form-group row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-1">
                            <button (click)="this.gerarNovaSenha()" class="btn btn-primary" title="Gerar nova senha">
                               <span class="glyphicon glyphicon-ok">Gerar Nova Senha</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>