<!DOCTYPE html>
<html lang="pt-br" ng-app="buildApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SIGPRO - Situação das Publicações de Builds</title>

<style>
table {
	border-collapse: collapse;
	width: 50%;
}

th, td {
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}
</style>
<link rel="stylesheet" type="text/css" href="css/modal.css">


</head>
<body>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
	<script
		src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
	<link
		href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		rel="stylesheet">
	<script src="js/buildApp.js"></script>
	<script src="js/controller/buildCtrl.js"></script>
	<script src="js/modal.js"></script>

	<h1>SIGPRO</h1>
    <hr>
    <div ng-controller="accordionUICtrl">
		    <uib-accordion>
			    <div uib-accordion-group class="panel-default" heading="Publicar Builds">
				    <label for="nrBuild">Número Build: </label>				    
				    <select name="nrBuild" id="nrBuild" >
				     <option ng-repeat="numero in numerosBuilds" value="{{numero}}" >{{numero.toString()}}</option>
				    </select>
				    
				    <label for="ambiente">Ambiente: </label>
				    <select name="ambiente" id="ambiente">
				     <option ng-repeat="ambiente in ambientes" value="{{ambiente.sigla}}" >{{ambiente.nome}}</option>
				    </select>
				    <input type="button" value="Publicar" onclick="publicar(document.getElementById('nrBuild'), document.getElementById('ambiente'))" />		    
			    </div>
			</uib-accordion>
		</div>
		<p />
    
	<div ng-controller="buildCtrl">
		<h2>Últimas Builds Publicadas por Ambiente</h2>
		<table border=1>
			<tr>
				<th style="text-align: center">TES</th>
				<th style="text-align: center">VAL</th>
				<th style="text-align: center">HOM</th>
				<th style="text-align: center">TRE</th>
				<th style="text-align: center">PRO</th>
			</tr>
			<tr>
				<td style="text-align: center"
					ng-repeat="ultimaPublicacao in ultimasPublicacoes"
					title="Data de Publicação: {{ ultimaPublicacao.dataPublicacao }}">
					<button title="Clique para download das builds" id="botaoUltimasBuilds{{ultimaPublicacao.ambiente}}"
						onclick="setNumeroDataBuild('{{ultimaPublicacao.numeroBuild}}', '{{ultimaPublicacao.dataBuild}}');document.getElementById('myModal').style.display = 'block'">{{ultimaPublicacao.numeroBuild}}</button></td>
			</tr>
		</table>
		<p />

		<h2>Builds Publicadas por Ambiente</h2>
		<table border=1>
			<tr>
				<th style="text-align: center">Build</th>
				<th style="text-align: center">Versão</th>
				<th style="text-align: center">TES</th>
				<th style="text-align: center">VAL</th>
				<th style="text-align: center">HOM</th>
				<th style="text-align: center">TRE</th>
				<th style="text-align: center">PRO</th>
			</tr>
			<tr ng-repeat="publicacao in publicacoes">
				<td><button title="Clique para download das builds" id="botaoBuild"
						onclick="setNumeroDataBuild('{{ultimaPublicacao.numeroBuild}}', '{{ultimaPublicacao.dataBuild}}');document.getElementById('myModal').style.display = 'block'">{{publicacao.numeroBuild}}</button>
				</td>
				<td>{{ publicacao.versao}}</td>
				<td>{{publicacao.datasPublicacao[0]}}</td>
				<td>{{publicacao.datasPublicacao[1]}}</td>
				<td>{{publicacao.datasPublicacao[2]}}</td>
				<td>{{publicacao.datasPublicacao[3]}}</td>
				<td>{{publicacao.datasPublicacao[4]}}</td>					
			</tr>
		</table>


		<!-- Trigger/Open The Modal -->
		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<span class="close"
					onclick="document.getElementById('myModal').style.display = 'none';" title="Fechar">[X]</span>
				<p id="tituloModal">Clique para download da Build [XXXX]:</p>
				<p>
					<a id="download-login"
						href="http://sigprowiki.fla.serpro/publicacoes/builds/sigpro-login-2.0.0-SNAPSHOT-bXXXX.war">sigpro-login</a>
				</p>
				<p>
					<a id="download-sigpro2016"
						href="http://sigprowiki.fla.serpro/publicacoes/builds/sigpro2016-2.0.0-SNAPSHOT-bXXXX.war">sigpro2016-2.0.0-SNAPSHOT</a>
				</p>
			</div>
		</div>
	</div>
	
</body>
</html>