<div class="card-header">{{title}}</div>
<div class="card-block table-responsive">
   <table class="table table-hover table-striped">
   <thead>
      <tr>
         <th>Participante</th>
         <th><div align="center">Data</div></th>
         <th>Evento</th>
         <th><div align="center">Pontuação</div></th>
         <th>Observação</th>
         <th *ngIf="this.isButtonEnabled">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let gamificacao of gamificacoes">
          <input type="hidden" value="{{gamificacao.idGamificacao}}">
          <td>
            {{gamificacao.apelido}}
          </td>
           <td align='center'>
            {{ this.getDataFormatada(gamificacao.dataRegistro) }}
          </td>
           <td>
            {{gamificacao.nomeEvento}}
          </td>
           <td align='center'>
            {{gamificacao.pontuacao}}
          </td>
           <td>
            {{gamificacao.observacao}}
          </td>
          <td *ngIf="this.isButtonEnabled">
            <button (click)="onEdit(gamificacao)" class="btn btn-primary" title="Editar">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button (click)="onRemove(gamificacao)" class="btn btn-danger" title="Remover">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
      </tr>      
      </tbody>
   </table>
</div>