<div [@routerTransition]>

    <app-page-header [heading]="'Editar Eventos'" [icon]="'fa-edit'"></app-page-header>
    <app-messageBar [textMessage]='this.message.textMessage' 
                    [show]='this.message.showMessage'
                    [typeMessage]='this.message.typeMessage'></app-messageBar>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="panel panel-primary">
                    <div class="form-group row">
                        <label for="selecaoPeriodo" class="col-sm-2 col-form-label">Período Selecionado</label>
                        <div class="col-sm-4">
                            <select id="selecaoPeriodo" (change)='this.onSelectedChangePeriodo($event)' class="form-control">
                               <option *ngFor='let entidade of this.lstSelecaoPeriodo' 
                               [value]='entidade.id' [selected]='this.isSelected(entidade)' >
                                  {{entidade.descricao}}
                              </option>             
                           </select>
                        </div>
                    </div>

                    <!-- Seleção de Participantes -->
                    <div class="form-group row">
                        <label for="selecaoParticipante" class="col-sm-2 col-form-label">Participante Selecionado</label>                        
                        <div class="col-sm-4">
                            <select id="selecaoParticipante" (change)='this.onSelectedChangeParticipante($event)' class="form-control" required>
                               <option value="">(Escolha um Participante)</option>
                               <option *ngFor='let participante of this.lstSelecaoParticipantes' 
                               [value]='participante.id' [selected]='this.isParticipanteSelected(participante)' >
                                  {{participante.descricao}}
                              </option>
                           </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>

                    <!-- Seleção de Data do Evento -->
                    <div class="form-group row">
                        <label for="dataEvento" class="col-sm-2 col-form-label">Data do Evento</label>
                        <div class="col-sm-4">
                            <my-date-picker name="myDate" [options]="datePickerOptions" [(ngModel)]="this.gamificacao.dataCalendario"></my-date-picker>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>

                    <!-- Seleção de Eventos -->
                    <div class="form-group row">
                        <label for="selecaoEventos" class="col-sm-2 col-form-label">Evento</label>
                        <div class="col-sm-7">
                            <select id="selecaoEventos" (change)='this.onSelectedChangeEvento($event)' class="form-control">                               
                               <option value="">(Escolha um Evento)</option>
                               <option *ngFor='let evento of this.lstSelecaoEventos' 
                               [value]='evento.id' [selected]='this.isEventoSelected(evento)' >
                                  {{evento.descricao}}
                              </option>         
                           </select>
                        </div>
                        <div class="col-sm-1">
                            <bold>{{this.gamificacao.pontuacao}}</bold>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>

                    <!-- Observação -->
                    <div class="form-group row">
                        <label for="observacao" class="col-sm-2 col-form-label">Observação</label>
                        <!--                   
                        <textarea [(ngModel)]="gamificacao.observacao" rows="2" cols="100"
                                  placeholder="Observação" id="observacao"></textarea>
                                  -->
                        <div class="col-sm-12">
                            <textarea rows="2" cols="150" id="observacao" class="form-control">{{this.gamificacao.observacao}}</textarea>
                        </div>
                    </div>

                    <!-- Botoes de Controle -->
                    <div class="form-group row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-1">
                            <button (click)="onSave()" class="btn btn-primary" title="Salvar">
                           <span class="glyphicon glyphicon-ok">Salvar</span>
                        </button>
                        </div>
                        <div class="col-sm-1">
                            <button (click)="onClear()" class="btn btn-warning" title="Limpar">
                           <span class="glyphicon glyphicon-remove">Limpar</span>
                         </button>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>

                    <div class="card-header">Eventos Realizados</div>
                    <div class="card-block table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Participante</th>
                                    <th>
                                        <div align="center">Data</div>
                                    </th>
                                    <th>Evento</th>
                                    <th>
                                        <div align="center">Pontuação</div>
                                    </th>
                                    <th>Observação</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let gamificacao of gamificacoes">
                                    <input type="hidden" value="{{gamificacao.idGamificacao}}">
                                    <td>
                                        {{gamificacao.apelido}}
                                    </td>
                                    <td align='center'>
                                        {{ this.getDataFormatada(gamificacao.dataRegistro) }}
                                    </td>
                                    <td>
                                        {{gamificacao.nomeEvento}}
                                    </td>
                                    <td align='center'>
                                        {{gamificacao.pontuacao}}
                                    </td>
                                    <td>
                                        {{gamificacao.observacao}}
                                    </td>
                                    <td>
                                        <button (click)="onEdit(gamificacao)" class="btn btn-primary" title="Editar">
                                           <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button (click)="onRemove(gamificacao)" class="btn btn-danger" title="Remover">
                                           <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>